body {
  background-color: lightseagreen;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  font-family: "Audiowide", sans-serif;
  text-align: center;
  position: absolute;
  width: 250px;
  left: 50%;
  font-size: 60px;
}
h3 {
  position: absolute;
  left: 55%;
  top: 120px;
  font-size: 30px;
}
#Pic1 {
  border-style: double;
  border-width: 10px;
  width: 90%;
  height: 400px;
}
#genre {
  text-decoration-line: underline;
  position: absolute;
  left: 62%;
  top: 200px;
}
#list {
  position: absolute;
  left: 57%;
  top: 250px;
  font-size: 20px;
}
#intro {
  width: 200px;
  height: 220px;
  border: 1px solid black;
  padding: 20px;
  top: 78%;
  left: 38%;
  position: absolute;
  text-align: center;
}
#Pic2 {
  position: absolute;
  left: 65%;
}
#early,
#career {
  text-decoration-line: underline;
  position: relative;
  left: 40%;
}
#para1,
#para2 {
  width: 800px;
  height: 200px;
  position: relative;
  text-align: justify;
  left: 15%;
}
#Pic4 {
  position: relative;
  float: left;
}
#disc {
  text-decoration-line: underline;
  position: absolute;
  left: 40%;
  top: 1650px;
}
#Pic5 {
  position: absolute;
  left: 35%;
  top: 1700px;
}
